.main {
  background: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
  }
}

.contentRight {
  width: 700px;
  margin: 0 auto;
  .itemBox {
    background-color: #fff;
    padding: 24px 40px 40px;
    &__name {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    &__body {
      margin: 16px 0 0;
      &__wholeImage {
        display: flex;
        position: relative;
        &__row {
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          img {
            object-fit: cover;
          }
          ul {
            object-fit: cover;
          }
          &__subImages {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            li {
              width: 25%;
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
    &__price {
      margin: 24px 0 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      span {
        font-size: 46px;
        font-weight: bold;
        margin: 0 10px 0 0;
      }
      &__complement {
        font-size: 16px;
      }
    }
    .buyBtn {
      width: 60%;
      display: block;
      margin: 16px auto;
      background: #3CCACE;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
      border-radius: 100px;
      color: #fff;
      text-decoration: none;
    }
    .table {
      margin-bottom: 20px;
      table {
        width: 100%;
        height: 375px;
        border-collapse: collapse;
        border: 1px solid #f8f8f8;
        tbody {
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;
          tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
          }
          th {
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td {
            width: 61%;
            padding: 15px 15px;
            border: 1px solid #dedede;
            font-size: 14px;
          }
        }
      }
    }
    .optionBtn {
      display: flex;
      justify-content: space-between;
      ul {
        margin: 10px 0 0;
        display: flex;
      }
      &__likeBtn {
        margin-right: auto;
        padding: 6px 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
      }
      &__reportBtn {
        font-size: 14px;
        a {
          padding: 6px 10px;
          display: inline-block;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333;
          text-decoration: none;
        }
        i {
          display: inline-block;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
  .btnBox {
    padding: 24px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
    .editBtn {
      margin: 16px auto;
      background: #3CCACE;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
      border-radius: 100px;
      color: #fff;
      text-decoration: none;
      display: block;
      width: 60%;
    }
    .deleteBtn {
      margin: 16px auto;
      background: red;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
      border-radius: 100px;
      color: #fff;
      text-decoration: none;
      display: block;
      width: 60%;
    }
  }
  .commentBox {
    padding: 24px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
    &__newComment {
      textarea {
        width: 100%;
        min-height: 104px;
        padding: 10px;
      }
      p {
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }
      button {
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
      }
    }
  }
  
  .frontBack {
    display: flex;
    justify-content: space-between;
  }

  .sameCategory {
    display: block;
    margin: 24px 0 8px;
    color: #3CCACE;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    position: relative;
  }
}
