.Notification {
  .notice {
    height: 30px;
    line-height: 30px;
    background-color: #3CCACE;
    color: #fff;
    text-align: center;
  }

  .alert {
    height: 30px;
    line-height: 30px;
    background-color: #FFA822;
    color: #fff;
    text-align: center;
  }
}