.BuyWrapper{
  background-color: white;
  .Purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 auto ;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #f6f7f8;
    width: 800px;
    &__title{
      font-weight: bold;
      font-size: 28px;
      margin-top: 10px;
    }
    &__info{
      font-size: 24px;
      display: flex;
      margin: 30px;
      padding: 50px 20px;
      background: whitesmoke;
      border-left: double 7px #4ec4d3;
      border-right: double 7px #4ec4d3;
      width: 50vw;
      &--image{
        margin: 0 10px 0 80px;
      }
      &--name{
        margin-left: 10px;
      }
      p {
        margin-bottom: 5px;
      }
    }
    &__money{
      display: flex;
      font-size: 34px;
      font-weight: bold;
      margin-top: 40px;
      &--name{
        margin-right: 85px;
      }
      &--price{
        margin-left: 85px;
      }
    }
    .PurchaseCard{
      width: 80%;
      border-top: 1px solid gray;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      h1 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        
      }
      &__info{
        background: #FFF;
        border: solid 3px #6091d3;
        border-radius: 10px;
        padding: 10px 20px;
        margin-left: 30px;
        font-weight: bold;
        font-size: 25px;
        width: 45%;
        margin-top: 50px;
        &--text{
          font-weight: bold;
          margin: 10px 0 ;
          border-bottom: 1px solid #00BFFF;
        }
      }
    }
    &__btn{
      border-style: none;
      height: 50px;
      background: linear-gradient(to bottom,aquamarine,skyblue);
      border-radius: 3px;
      border: 1px aqua solid;
      cursor: pointer;
      padding: 0 10px;
      margin: 30px;
      .btn{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

.PayMessage{
  font-weight: bold;
  font-size: 32px;
  margin-left: 600px;
  margin-top: 20px;
  &--link{
    font-size: 18px;
    margin-left: 30px;
  }
}