.main__pickupCategoly
  %h2.head 検索結果
  .itemBox
    .itemLists
      .itemList
        - if @items.empty?
          .itemList__text
            該当する商品がありません
        - else
          - @items.each do |item|
            = render partial: "item", locals: { item: item }